@model List<platforma.Models.Domain.Animal>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Animals </h1>

    </div>

</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Description</th>
                    <th>Color</th>
                    <th>Age</th>
                    <th>Is Available For Adoption</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var animal in Model)
                {
                    <tr>
                        <td>@animal.Name</td>
                        <td>@animal.Species</td>
                        <td>@animal.Description</td>
                        <td>@animal.ImageUrl</td>
                        <td>@animal.Age</td>
                        <td>@(animal.IsAvailableForAdoption ? "Yes" : "No")</td>
                        <td>@animal.Gender</td>
                        <td>@animal.City</td>
                        <td>
                           
                                <a asp-area="" asp-controller="AddAnimal" asp-action="Edit" asp-route-id="@animal.Id">Edit</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No animals found!</p>
    }
</div>